/* nav bar  */

#nav{
    display: block;
    background-color: white;
    display: inline-block;
    width: 98%;
    border: 4px solid #333333;
    margin: 6px;
    border-radius: 10px;
}


.right{
    float: right;
}

.left{
    float: left;
}